@media screen and (max-width: 767px) {
.container{
        max-width: 100%;
    }

.main-header{
       flex-direction: column;
    }
.menu-flex{
    flex-direction:column
}
.menu-flex{
    display: grid;
}
.lunchs{
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media screen and  (max-width: 950px) {
    .container{
        max-width: 100%;
    }

    .lunchs{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
}