@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");
body {
    width: 80%;
    margin: 60px auto;
  }
.container{
    width: 1000px;
    margin: 0 auto;
    font-family: 'Sniglet', cursive;
}
       /** header **/
.main-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    } 
header{
        position: sticky;
        top: 0;
        background-color: #ffffff;
        opacity: 0.99;
    }
.p{
    font-size: 70px;
    font-family: 'Courier New', Courier, monospace;

}
.menu{
    list-style-type: none;
    display: inline-block;
    
}

 li a{
    padding: 10px 15px;
    text-decoration: none;
    color:black;
    font-size: 20px;
}
 li a:hover  , a :active{
    border-bottom: #95a5a6;
    cursor: pointer;
    color: rgb(20, 132, 230);
}
.lunchs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    padding: 10px;
}

.lunch-col-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
    border: 1px solid #95a5a6;
    border-radius: 3px;
}
.lunch-col- img{
    display: block;
    width: 60%;
    height: auto;
}

.ajouterPanier{
    text-decoration: none;
    color: #ffffff;
    background-color: #b4b9b8;
    border: 1px solid #101111;
    width: 65%;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin-top: 20px;
}
.shop-item-price {
    flex-grow: 1;
    color: #333;
}
.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}
           /** CONTACT **/

.contact{
    margin: 20px 0px 20px 0px;
}
.form-style {
    margin:10px auto;
    width: 400px;
    padding: 20px 12px 10px 20px;
    font: 14px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }
  .form-style td {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
  }
  .form-style label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
  }

.form-style .field-textarea{
    height: 100px;
  }
  .form-style input[type=text], 
  .form-style input[type=email],
  textarea{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
  }
 .form-style .long{
    width: 100%;
  }
.form-style input[type=submit]:hover, .form-style input[type=reset]:hover{
    background: #2a87bd;
    box-shadow:none;
}
.error{
    color: #D8000C;
    background-color: #FFBABA;
  }
.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}
 
h4{
    color: rgb(38, 0, 255);
    font-family: courier;
    font-size: 160%
}

.cart{
    display: flex;
}

.cart-lunch {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}
.btn-achat{
  display: block;
  margin: 40px auto 80px auto;
  font-size: 1.75em;
}
   
/** footer **/
footer h5{float: center ;
background-color :#ffffff;
width:100%;
font-size: 15px;
text-align:right;
color:black;
}